/* Estilos generales */
body {
   

    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: rgba(204, 198, 198, 0.637)

    
}

nav {
    background-color: rgba(134, 85, 141, 0.589);
}

header {
    background-color: #a23ea560;
    color: #080808;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul li {
    display: inline;
    margin-right: 100px;
}

section {
    padding: 20px 0;
}

/* Estilos específicos para diferentes tamaños de pantalla */

/* Tablet */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

/* Celular */
@media (max-width: 768px) {
    header {
        padding: 5px 0;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Carrusel */
.carousel {
    display: flex;
    overflow-x: auto;
}

.carousel img {
    width: 50%;
    height:auto;
    margin-right: 0px;   
}
